// font links
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

// variables
$orange-color: #8a6e35;
$font-color: #7d868d;
$bg-color: #0d1117;
$font-aqua-color: #81cdff;
$pink-color: #c5636c;
$yellow-color: #ffe79d;
$green-color: #b3d198;
$purple-color: #6a5c76;
$border-color: lighten($bg-color, 10%);

// extends 
.default-transition {
    transition: 0.3s ease-in-out;
}